@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Brand (Primary) */
  --color-primary-50: rgb(238, 237, 253);
  --color-primary-100: rgb(202, 198, 249);
  --color-primary-200: rgb(177, 170, 246);
  --color-primary-300: rgb(141, 132, 242);
  --color-primary-400: rgb(119, 108, 239);
  --color-primary-500: rgb(85, 71, 235);
  --color-primary-600: rgb(77, 65, 214);
  --color-primary-700: rgb(60, 50, 167);
  --color-primary-800: rgb(47, 39, 129);
  --color-primary-900: rgb(36, 30, 99);

  /* Grey */
  --color-grey-50: rgb(249, 250, 251);
  --color-grey-100: rgb(243, 244, 246);
  --color-grey-200: rgb(229 231 235);
  --color-grey-300: rgb(209 213 219);
  --color-grey-400: rgb(156 163 175);
  --color-grey-500: rgb(108, 115, 127);
  --color-grey-600: rgb(77, 87, 97);
  --color-grey-700: rgb(56, 66, 80);
  --color-grey-800: rgb(31, 42, 55);
  --color-grey-900: rgb(17, 25, 39);

  /* Red */
  --color-red-50: rgb(253 235 234);
  --color-red-100: rgb(254 202 202);
  --color-red-200: rgb(252 165 165);
  --color-red-300: rgb(248 113 113);
  --color-red-400: rgb(239 68 68);
  --color-red-500: rgb(220 38 38);
  --color-red-600: rgb(185 28 28);
  --color-red-700: rgb(153 27 27);
  --color-red-800: rgb(127 29 29);
  --color-red-900: rgb(69 10 10);

  /* Orange */
  --color-orange-50: rgb(255 237 213);
  --color-orange-100: rgb(254 215 170);
  --color-orange-200: rgb(253 186 116);
  --color-orange-300: rgb(251 146 60);
  --color-orange-400: rgb(249 115 22);
  --color-orange-500: rgb(234 88 12);
  --color-orange-600: rgb(194 65 12);
  --color-orange-700: rgb(154 52 18);
  --color-orange-800: rgb(124 45 18);
  --color-orange-900: rgb(67 20 7);

  /* Green */
  --color-green-50: rgb(236 253 245);
  --color-green-100: rgb(209 250 229);
  --color-green-200: rgb(167 243 208);
  --color-green-300: rgb(110 231 183);
  --color-green-400: rgb(52 211 153);
  --color-green-500: rgb(16 185 129);
  --color-green-600: rgb(5 150 105);
  --color-green-700: rgb(4 120 87);
  --color-green-800: rgb(6 95 70);
  --color-green-900: rgb(6 78 59);

  /* Blue */
  --color-blue-50: rgb(239 246 255);
  --color-blue-100: rgb(219 234 254);
  --color-blue-200: rgb(191 219 254);
  --color-blue-300: rgb(147 197 253);
  --color-blue-400: rgb(96 165 250);
  --color-blue-500: rgb(59 130 246);
  --color-blue-600: rgb(37 99 235);
  --color-blue-700: rgb(29 78 216);
  --color-blue-800: rgb(30 64 175);
  --color-blue-900: rgb(30 58 138);

  /* Purple */
  --color-purple-50: rgb(245 243 255);
  --color-purple-100: rgb(237 233 254);
  --color-purple-200: rgb(221 214 254);
  --color-purple-300: rgb(196 181 253);
  --color-purple-400: rgb(167 139 250);
  --color-purple-500: rgb(139 92 246);
  --color-purple-600: rgb(124 58 237);
  --color-purple-700: rgb(109 40 217);
  --color-purple-800: rgb(91 33 182);
  --color-purple-900: rgb(76 29 149);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  /* --primary: oklch(0.922 0 0); */
  --primary: red;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  letter-spacing: -1px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 0;
}

h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0;
}

.subtitle1 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.subtitle2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.body2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

small,
.caption {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.text-overline {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@tailwind utilities;
